extends layout

block content
  h3.form-success Form Submitted Succesfully

  a(class='form-success btn btn-lg btn-primary btn-block' href='/') New Registration
  a(class='form-success btn btn-lg btn-primary btn-block' href='/registrations') View Registrations
