doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/style.css')

  body
    div.container.listing-reg
      h1 User Information Form

      block content
